/* CUSTOM TAG */
/* html {
    scroll-padding-top: 250px;
} */

:root {
    --dark-slate-gray: hsla(161, 13%, 24%, 1);
    --platinum: hsla(120, 2%, 89%, 1);
    --pine-tree: hsla(72, 11%, 18%, 1);
    --eggshell: hsla(57, 26%, 83%, 1);
    --shadow: hsla(46, 21%, 48%, 1);
    --gold-fusion: hsl(46, 21%, 40%);
    --riffle-green: hsl(46, 21%, 28%);
    --bs-link-color: var(--dark-slate-gray);
    --bg-color: #fff;
}

body {
    background-color: var(--bg-color);
    margin-top: 40px;
}

.navbar {
    --bs-navbar-toggler-icon-bg: none;
    /* --bs-navbar-color: hsla(72, 11%, 18%, 0.8); */
    --bs-navbar-hover-color: #000;
}

.navbar-toggler {
    color: var(--pine-tree);
}

.accordion {
    --bs-accordion-bg: var(--platinum);
    --bs-accordion-border-color: var(--pine-tree);
    --bs-accordion-active-bg: var(--pine-tree);
    --bs-accordion-btn-focus-box-shadow: 0 0 0 0.20rem var(--shadow);
    --bs-accordion-hover: var(--pine-tree);
    --accordion-icon-up: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' fill='%23313329' %3E%3C!--! Font Awesome Pro 6.2.0 by %40fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons  Inc. --%3E%3Cpath d='M233.4 105.4c12.5-12.5 32.8-12.5 45.3 0l192 192c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L256 173.3 86.6 342.6c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3l192-192z'/%3E%3C/svg%3E");
    --accordion-icon-down: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' fill='%23fff' %3E%3C!--! Font Awesome Pro 6.2.0 by %40fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons  Inc. --%3E%3Cpath d='M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z'/%3E%3C/svg%3E");
    --accordion-icon-down-hover: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' fill='%23fff' %3E%3C!--! Font Awesome Pro 6.2.0 by %40fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons  Inc. --%3E%3Cpath d='M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z'/%3E%3C/svg%3E");
    --accordion-icon-down-active: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' fill='%23000' %3E%3C!--! Font Awesome Pro 6.2.0 by %40fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons  Inc. --%3E%3Cpath d='M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z'/%3E%3C/svg%3E");
    --bs-accordion-btn-color: #000;
}

.img-album:hover {
    filter: opacity(0.5);
    -webkit-filter: opacity(0.5);
}

.accordion-body {
    background-color: var(--platinum);
}

.accordion-button::after {
    background-image: var(--accordion-icon-down-active);
}

.accordion-button:hover::after {
    background-image: var(--accordion-icon-down-hover);
}

.accordion-button:hover {
    background-color: var(--bs-accordion-hover);
    color: #fff;
}


.accordion-button:not(.collapsed) {
    color: #fff;
}

.accordion-button:not(.collapsed)::after {
    background-image: var(--accordion-icon-down);
}

.navbar-collapse {
    font-weight: 500;
}

#landing {
    margin-top: -40px;
    padding-top: 0;
}

#about,
#profile,
#tech-stack,
#footer {
    padding-top: 80px;
    margin-top: -40px;
}

.bg-putih {
    background-color: inherit;
    transition: all ease-in-out .3s;
    -webkit-transition: all ease-in-out .3s;
    -o-transition: all ease-in-out .3s;
    -moz-transition: all ease-in-out .3s;
}

.bg-blur {
    background-color: rgba(0, 0, 0, 0.08);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: none !important;
    transition: all ease-in-out .3s;
    -webkit-transition: all ease-in-out .3s;
    -o-transition: all ease-in-out .3s;
    -moz-transition: all ease-in-out .3s;
}

p.lead {
    font-weight: 350;
}

p.cm.p {
    text-align: justify;
}

.card-header#nbrbg {
    border: 2;
    padding: 0.3rem 1.25rem;
}

/* CUSTOM TAG (a) FOOTER*/
a#csa {
    color: currentColor;
}

a:link#csa {
    text-decoration: none;
}

a:visited#csa {
    text-decoration: none;
}

a:hover#csa {
    text-decoration: none;
}

a:active#csa {
    text-decoration: none;
}

/* STOP CUSTOM TAG(a) FOOTER */
.custom-text-footer {
    font-size: smaller;
    text-align: center;
}

/* END CUSTOM TAG (a) FOOTER */
/* CUSTOM ICON FONT AWESOME */
.social-links li a i.fa-brands {
    position: absolute;
    font-size: 26px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    /* transition: all 0.3s; */
}

.custom-mt-footer {
    margin-top: 20rem;
}

.custom-pr {
    padding-right: 1.26rem;
}

.custom-pr2 {
    padding-right: 0.95rem;
}

.custom-pr3 {
    padding-right: 0.7rem;
}

.custom-vh {
    min-height: 100%;
    min-height: 100vh;
}

/* START CUSTOM RESPONSIVE */
@media (max-width: 991px) {

    .custom-font2 {
        font-size: 1.5rem;
        text-align: justify;
    }

    .custom-vh {
        min-height: 100%;
    }

    #landing {
        margin-top: -40px;
        padding-top: 100px;
    }

    #about,
    #profile,
    #tech-stack {
        margin-top: 40px;
        padding-top: 80px;
    }

    /* #landing {
        padding-top: 150px;
    }

    #landing .lead {
        padding-bottom: 100px;
    } */

    /* #tentang,
    #profile,
    #tech-stack,
    #footer {
        padding-top: 100px;
    } */

}

@media (max-width: 768px) {
    .custom-font {
        font-size: 5rem;
    }

    .custom-font2 {
        font-size: 1.2rem;
        text-align: justify;
    }

    .custom-w {
        max-width: 85%;
    }

    .text-justify {
        text-align: justify;
    }
}

@media (max-width: 600px) {
    .custom-font {
        font-size: 3.4rem;
        text-align: center;
    }

    .custom-font2 {
        font-size: 1rem;
        text-align: center;
    }

    .custom-font3 {
        font-size: 2rem;
    }

    .custom-text-footer {
        font-size: smaller;
        text-align: center;
    }

    .img-fluid.custom-height {
        max-width: 80%;
    }

    .custom-mb-navbar {
        margin-bottom: 2rem;
    }

    .custom-mt-footer {
        margin-top: 15rem;
    }

    .custom-w-accordion {
        width: 12%;
    }

    .custom-height-landing {
        min-height: 85vh;
    }
}

@media (max-width: 575px) {
    .custom-font2 {
        padding-right: 2rem;
        padding-left: 2rem;
    }
}


@media (min-width: 1200px) {
    .custom-mb-navbar {
        margin-bottom: 0.25rem;
        ;
    }

    .custom-font2 {
        padding-right: 5rem;
    }

    /* #tentang,
    #profile,
    #tech-stack,
    #footer {
        padding-top: 100px;
    } */
}


/* END CUSTOM RESPONSIVE */

/* CUSTOM ACCORDION ICON EXPAND */
.accordion-button.custom::after {
    display: none;
}

/* END CUSTOM ACCORDION ICON EXPAND */

.bg-navbar {
    background-color: #3f0d12;
}

/* START CUSTOM HOVER EFFECT CARD TECH STACK */

.custom-hover1:hover {
    background-color: rgba(0, 0, 0, 0.1) !important;
    transition: all 100ms linear !important;
    -o-transition: all 100ms linear !important;
    -moz-transition: all 100ms linear !important;
    -webkit-transition: all 100ms linear !important;
    transition-delay: 10ms !important;
    -o-transition-delay: 10ms !important;
    -moz-transition-delay: 10ms !important;
    -webkit-transition-delay: 10ms !important;
}

.custom-hover1 img {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}

.custom-hover1:hover img {
    scale: 1.3;
    filter: none;
    transition: all 100ms linear !important;
    -webkit-transition: all 100ms linear !important;
    -moz-transition: all 100ms linear !important;
    -o-transition: all 100ms linear !important;
    transition-delay: 20ms !important;
    -o-transition-delay: 20ms !important;
    -moz-transition-delay: 20ms !important;
    -webkit-transition-delay: 20ms !important;
}


/* END CUSTOM HOVER EFFECT CARD TECH STACK */

/* TIMELINE */
.timeline {
    border-left: 1px solid hsl(0, 0%, 0%);
    position: relative;
    list-style: none;
}

.timeline .timeline-item {
    position: relative;
}

.timeline .timeline-item:after {
    position: absolute;
    display: block;
    top: 0;
}

.timeline .timeline-item:after {
    background-color: var(--dark-slate-gray);
    left: -40px;
    border-radius: 50%;
    height: 15px;
    width: 15px;
    content: "";
}

/* PAGE PRELOAD */
@keyframes pulse {
    from {
        opacity: 1;
        transform: scale(1);
    }

    to {
        opacity: .25;
        transform: scale(.75);
    }
}

#loading {
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    overflow: hidden;
    z-index: 9999;
    background: var(--platinum);
    transition: opacity .1s linear;
}

.spinner-box {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    margin: 0;
}

.pulse-container {
    width: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pulse-bubble {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: var(--dark-slate-gray);
}

.pulse-bubble-1 {
    animation: pulse .4s ease 0s infinite alternate;
}

.pulse-bubble-2 {
    animation: pulse .4s ease .2s infinite alternate;
}

.pulse-bubble-3 {
    animation: pulse .4s ease .4s infinite alternate;
}